{{- $p := index .themes .theme -}}
gui:
  nerdFontsVersion: "3"
  theme:
    activeBorderColor: ["{{ $p.base0E }}", bold]
    inactiveBorderColor: ["{{ $p.base03 }}"]
    selectedLineBgColor: ["{{ $p.base02 }}"]
    optionsTextColor: ["{{ $p.base0C }}"]
git:
  paging:
    colorArg: always
    pager: delta --paging=never
