{{- $p := index .themes .theme -}}
[user]
    name = {{ .git_name }}
    email = {{ .git_email }}

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --line-numbers

[delta]
    navigate = true
    line-numbers = true
    syntax-theme = base16-active
    minus-style = "{{ $p.base08 }} {{ $p.base01 }}"
    minus-emph-style = "{{ $p.base00 }} {{ $p.base08 }}"
    plus-style = "{{ $p.base0B }} {{ $p.base01 }}"
    plus-emph-style = "{{ $p.base00 }} {{ $p.base0B }}"
    hunk-header-style = "{{ index $p .design.accent }} bold"
    hunk-header-decoration-style = "{{ $p.base02 }} ul"
    file-style = "{{ index $p .design.accent2 }} bold"
    file-decoration-style = "{{ $p.base02 }} ul"
    line-numbers-minus-style = "{{ $p.base08 }}"
    line-numbers-plus-style = "{{ $p.base0B }}"
    line-numbers-zero-style = "{{ $p.base03 }}"

[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- else }}
    helper = cache --timeout=3600
{{- end }}

[push]
    autoSetupRemote = true
[rebase]
    autostash = true
    autosquash = true
[merge]
    autostash = true
[rerere]
    enabled = true
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[column]
    ui = auto
[fetch]
    prune = true
[diff]
    colorMoved = default
    algorithm = histogram
