{{- $p := index .themes .theme -}}
[mgr]
cwd = { fg = "{{ $p.base0C }}" }
hovered = { fg = "{{ index (index .on_colors .theme) "base0E" }}", bg = "{{ $p.base0E }}" }
preview_hovered = { underline = true }
marker_selected = { fg = "{{ $p.base0B }}", bg = "{{ $p.base0B }}" }
marker_copied   = { fg = "{{ $p.base0C }}", bg = "{{ $p.base0C }}" }
marker_cut      = { fg = "{{ $p.base08 }}", bg = "{{ $p.base08 }}" }
marker_marked   = { fg = "{{ $p.base0A }}", bg = "{{ $p.base0A }}" }
[status]
separator_open = ""
separator_close = ""
