{{- $p := index .themes .theme -}}
theme "base16"
default_layout "split"
pane_frames true
mouse_mode true
copy_on_select false

themes {
    base16 {
        fg "{{ $p.base05 }}"
        bg "{{ $p.base00 }}"
        black "{{ $p.base00 }}"
        red "{{ $p.base08 }}"
        green "{{ $p.base0B }}"
        yellow "{{ $p.base0A }}"
        blue "{{ $p.base0D }}"
        magenta "{{ $p.base0E }}"
        cyan "{{ $p.base0C }}"
        white "{{ $p.base05 }}"
        orange "{{ $p.base09 }}"
    }
}
